# Python
.ropeproject
*.pyc

# Editor
.vscode

# Temp files
*tempt.txt*
*.retry
*.bak

# Shell
.zcompdump*
.zsh_history
.zsh_sessions

# Nix
flake.lock
.direnv

# Node
**/node_modules/

# macOS
.DS_Store
