name: Dotfiles CI & Validation
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  nvim_config_test:
    name: Validate Neovim Config
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v5
      - name: Setup Neovim and dependencies
        uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
          version: nightly
      - name: Copy neovim configuration
        run: |
          mkdir -p ~/.config/nvim
          cp -r $GITHUB_WORKSPACE/.config/nvim/* ~/.config/nvim/
      - name: Test Configuration Loading
        # This command tries to start Neovim with your config and exits
        run: nvim --headless -c 'quitall'
